<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Welcome </h1>
    <h1><%= finalName  %></h1>

    <% for( let index = 0; index < fruits.length; index++ ) { %>
    <li> <%= fruits[index] %></li>
    <% } %>
    
    <h1><%= karan.name %></h1>
    <h1><%= karan.age %></h1>
    <h1><%= karan.dist %></h1>
    <h1><%= karan.college %></h1>
</body>
</html>